.container{
    margin-top: 20px;
    border: 2px solid lightpink;
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    padding: 10px 20px;
    margin: 10px;
    background-image: linear-gradient(red, tomato);
    border: none;
    font-size: 1.5rem;
    color: white;
    font-weight: 900;
}